.contentTotal {
    display: flex;
    height: 100vh;  /* A altura total da tela */
}

.mainContentProgress {
    flex: 1;  /* Ocupa o restante da tela */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* Alinha o conteúdo no topo */
    
}

.contentProgress{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    height: 300px;
    width: 100%;
    margin-top: 0px;
    padding: 50px;
}

.types{
    display: flex;
    gap: 20px;
}

.icons{
    display: flex;
    gap: 20px;
}