.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;  /* Largura máxima para o conteúdo */
    margin: 30px auto;  /* Centraliza o conteúdo dentro da tela */
    
}

.imageContainer {
    display: flex;
    justify-content: center;  /* Centraliza a imagem dentro do contêiner */
    align-items: center;
    margin-bottom: 20px;  /* Espaçamento entre a imagem e o texto */
    
}

img {
    max-width: 100%;  /* Mantém as dimensões da imagem dentro do contêiner */
    height: auto;  /* Ajusta a altura automaticamente para manter a proporção */
    
}

.contentText {
    text-align: center;  /* Centraliza o texto */
    margin-top: 20px;  /* Espaçamento acima do texto */
    max-width: 700px;  /* Limita a largura do texto */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centraliza o conteúdo dentro do .contentText */
    align-items: center;  /* Alinha os elementos ao centro */
    gap: 30px;
    color: var(--color-text);
    font-weight: 300;
}