.questionContainer{
    width: 100%;
    flex:1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
    
}

.question{
    padding: 50px;
}

.answer {
  color: #ad6beb; /* Texto escuro para contraste */
}

li:hover {
  cursor: pointer;
  color: #ad6beb;
}

.commandArea{
    display: flex;
    justify-content: space-between;
}

.inputAndButton{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.enem{
  color: var(--color-text);
  font-weight: 300;
  
  
}
.grammar{
  color: var(--color-text);
  font-weight: 300;
  
}

/* adicionando A) B) C) */
.options{
  display: flex;
  flex-direction: column;
  gap: 50px;
  
}
ul {
  list-style-type: none;
  counter-reset: option;
}

ul li {
  counter-increment: option;
  margin-bottom: 8px;
}

ul li::before {
  content: counter(option, upper-alpha) ") ";
  font-weight: 300;
} 

.statement{
  
  text-align: justify;
  
}