
.navibar{
    width: 270px;
    height: 100%;
    background-color: var(--background-color-navigate);
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--color-text)
    
}


.navibarLogo{
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 15px;
    gap: 8px;
}

.logo{
    width: 30px;
    height: 30px;
}

.navibarLinks{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 28px;
    height: 60vh;
    gap: 40px;
    font-weight: 300;
    
}

.navibarFooter{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 28px;
    gap:30px;
    font-weight: 300;
    
}

.home{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.homeImg{
    width: 22px;
    height: 22px;
    margin-top:-5px;
}

.progress {
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.progressImg{
    width: 22px;
    height: 22px;
    margin-top:-5px;
}

.goal{
    display: flex;
    gap: 10px;
    align-items: center;
}

.goalImg{
    width: 22px;
    height: 22px;
    margin-top:-5px;
}

.settings{
    display: flex;
    gap: 10px;
    align-items: center;
}

.settingsImg{
    width: 22px;
    height: 22px;

}

.logout{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.logoutImg{
    width: 2opx;
    height: 22px;
    
}

.bold{
    font-weight: bold;
}

.normal{
    font-weight: normal;
}
