@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'normalize.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: var(--background-color-page); 
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}


 :root{
    --background-color-page: #191817;
    --background-color-buttom: #6100C2;
    --color-text: #FFFFFF;
    --background-color-navigate: #21201E;
    --background-color-progress-componentes: #37312A;
} 


