.header {
    width: 100%;
    height: 60px;  /* Aumentei a altura do header */
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    color: var(--color-text);
   
}

.types,
.icons {
  display: flex;
  gap: 20px;
}

.choiceEnem{
  font-weight: normal;
  cursor: pointer;
 
}

.activechoiceEnem{
  font-weight: 600;
  cursor: pointer;
}

.choiceGrammar{
  font-weight: normal;
  cursor: pointer;
 
}

.activechoiceGrammar{
  font-weight: 600;
  cursor: pointer;
}
