.header {
    width: 100%;
    height: 60px;  /* Aumentei a altura do header */
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 16px;
    color: var(--color-text);
   
}